.user {
    h1 {
        color: red;
    }
    p {
        color: blueviolet;

    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        cursor: pointer;
        font-style: italic;
    }
}